# PostgreSQL
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=hubb_vagas
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"



# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Autenticação JWT
JWT_SECRET=super_secret_jwt_key